/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";


.no-marginLR {
    margin-left:0;
    margin-right:0;
}
.titleMsg{
    color: coral;
}
.nav-link{
    cursor: pointer;
}
.align-center{
    text-align: center;
}

.topMar10{
    margin-top: 10px;
}